body {
  background-color: blueviolet;
  height: 100vh;
}

.App {
  background-color: transparent;
  width: 450px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-input {
  margin: 3rem 1rem 0 0;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
  font-size: 1.2rem;
}

.add-button {
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(255, 193, 78);
}

.delete-button {
  border-radius: 10px;
  padding: 0.3rem;
  font-size: 1.2rem;
  height: fit-content;
  background-color: rgb(255, 193, 78);
}

.todo-el {
  margin: 0.5rem;
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(212, 212, 211);
  border-radius: 10px;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.todo-text {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.decoration {
  text-decoration: line-through;
}

.checkbox {
  accent-color: blue;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
